name: Install OPM Flow and ResInsight in macOS using brew

on:
 push:
   branches:
     - main
 pull_request:
   
jobs:
  run-pycopm-local:
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.14']
        os: [macos-latest]
        
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install ResInsight
      run: |
        brew install cssr-tools/opm/resinsight

    - name: Check if ResInsight succeeded
      run: |
        file="/opt/homebrew/Cellar/resinsight/2025.12.0/ResInsight.app"
        if [[ -f "$file" ]]; then
          echo "The installation of ResInsight succeeded"
        else
          echo "The installation of ResInsight failed"
          exit 1
        fi
    
    - name: Install OPM Flow
      run: |
        brew install cssr-tools/opm/opm-simulators

    - name: Run OPM Flow (in parallel)
      run: |
        curl -O https://raw.githubusercontent.com/OPM/opm-tests/refs/heads/master/spe1/SPE1CASE1.DATA
        mpirun -np 2 flow SPE1CASE1.DATA --output-dir=flow_spe1case1

    - name: Check if OPM Flow succeeded
      run: |
        file="/Users/runner/work/homebrew-opm/homebrew-opm/flow_spe1case1/SPE1CASE1.UNRST"
        if [[ -f "$file" ]]; then
          echo "The installation of OPM Flow succeeded"
        else
          echo "The installation of OPM Flow failed"
          exit 1
        fi
